.container{
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.todosContainer{
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: -4%;
}

#getTodos{
    text-align: center;
    font-size: 60px;
    color: #2f2f2f;
    margin-top: 30px;
    margin-bottom: 30px;
}

.todos{
    color: #1f2b40;
    padding-bottom: 4%;
}

.todoDiv{
    background-color: #3b4e6d;
    border-radius: 5px;
    line-height: 2;
    margin: 2%;
    display: grid;
    grid-gap: 3%;
    grid-template-columns: 2fr 2fr 1fr;
    grid-auto-rows: max-content;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.todoImg{
    grid-column: 1/2;
    grid-row: 1/3;
}

#imgStyle{
    padding-top: 6%;
    width: 500px;
    height: auto;
}

#todoTitle{
    padding-top: 2%;
    grid-column: 2/3;
    text-align: left;
    background-color: #ffffff00;
    border: none;
    font-size: 40px;
    color: #F4A698;
    outline: none;

}

.todoDescription{
    padding-bottom: 2%;
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: left;
    background-color: #ffffff00;
    border: none;
    font-size: 40px;
    color: #F4A698;
    outline: none;
}

#imgContainer{
    grid-column: 3/4;
    grid-row: 1/2;
}

input[type=checkbox] { 
    transform: scale(2) !important;
}


.striken{
    text-decoration: line-through;
}

#deleteTodo, #saveTodo{
    height: 30px;
    width: 30px;
    padding-left: 5%;
}

.checkMark{
    font-weight: 200;
    font-size: 40px;
    padding-left: 5%;
    color: #ffffff;
}

.name2{
    margin-top: 10px;
    text-align: center;
}

.addTodo{
    color: #2f2f2f;
    font-weight: 800;
    background-color: #ef740bd4;
    border-radius: 10px;
    grid-row: 3/4;
    grid-column: 1/2;
    margin: 2%;
    display: grid; 
    grid-auto-rows: auto;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 40px;
    padding-bottom: 3%;
    padding-top: 1.3%;
}

.openButton{
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    font-size: 40px;
}

.visible{
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
}

label{
    font-size: 30px;
}

.titleInput{
    grid-column: 1/2;
    grid-row: 1/2;
}
.descriptionInput{
    grid-column: 1/2;
    grid-row: 2/3;
}

.imgInput{
    grid-column: 2/3;
    grid-row: 1/2
}

.priceInput{
    grid-column: 2/3;
    grid-row: 2/3;
}

#image, #description, #title, #name2{
    height: 30px;
    border-radius: 5px;
    width: 200px;
    justify-self: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 20px;
    border: 1px solid #DDDDDD;
    background-color: #f9f9f9;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}

#price{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #DDDDDD;
    background-color: #f9f9f9;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}

#postComplete{
    display:flex;
    flex-direction: row;
    grid-column: 1/3;
    grid-row: 3/4;
}

#complete{
    margin-left: 3.5%;
    margin-top: 3%;
}


.addTodo, #submit1:hover, #submit2:hover, .checkMark:hover, #deleteTodo:hover, #save:hover{
    cursor: pointer;
}

.postTodo{
    display: none;
}

.submit, .input{
    padding-top: 2%;
    display: grid;
    grid-auto-rows: max-content;
    /* justify-content: center; */
}

.submit{
    grid-column: 1/3;
    grid-row: 4/5;
    justify-self: center;
}

#submit2{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #F4A698;
    font-size: 20px;
    border-color: #F4A698;
    background-image: linear-gradient(to left, #F4A698 50%, rgb(255, 121, 98) 50%);
    border-color: linear-gradient(to left, #F4A698 50%, rgb(255, 121, 98) 50%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); 
}